*{
    background-color:skyblue;
}
h1{
    text-align:center;
    color:blue;
    text-shadow: 4px 4px 10px maroon;
    padding:5%;
}
table{
    border:3px solid maroon;
    padding:5%;
    
}
td{
    padding:5px;
   
}